@import './variables';
.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: $font-text;
  padding: 20px 0;
  &__characterImage {
    width: 100px;
    height: 140px;
    margin-bottom: 40px;
    border: $border-character 3px solid;
    border-radius: 80px;
  }

  &__characterTitle {
    font-size: 20px;
    font-weight: 900;
    color: $beige;
    text-decoration: none;
  }
  &__characterSpecie {
    font-size: 20px;
    font-weight: 600;
    color: $dimgray;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .section__characterImage {
    width: 210px;
    height: 280px;

    border-radius: 120px;
  }
}
