@import './variables';
.filters {
  background-color: $principal-color;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font-text;
  font-size: 2em;
}
